.calendar-area {
  height: 150px;
  .vc-container {
    font-family: $Gmarket;
    --font-medium: 500;
    --text-sm: 12px;
    --text-base: 12px;
    --text-lg: 14px;
    color: $dark-grey;
    background-color: $lightx2-yellow;
    border: none;
    height: 150px;

    .vc-day {
      height: 20px;
    }
    .vc-header {
      font-size: 16px;
    }
    .vc-weeks {
      padding: 3px;
    }
  }
}
