.container {
  padding-top: 80px;
}

section {
  position: relative;

  .title {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-bottom: 70px;
    position: relative;

    h2 {
      margin-bottom: 33px;
      &::after {
        content: "";
        display: block;
        width: 121px;
        height: 8px;
        background: $yellow;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    p {
      color: $grey;
    }
  }
  .swiper {
    height: 320px;
    margin: 0 148px;

    .swiper-wrapper {
      .swiper-slide.swiper-slide-next .post-card {
        width: 399px;
        height: 245px;
        margin-top: 0;
      }
      .swiper-slide .post-card {
        width: 330px;
        height: 200px;
        margin: 30px auto 0;
      }
    }
  }
}

.opened {
  margin-bottom: 160px;
}

.maked {
  .search-bar {
    @include flexCenter;
    margin-bottom: 120px;

    input {
      width: 832px;
      @include Input;
    }
    .searchBtn {
      width: 44px;
      height: 44px;
      background-color: $yellow;
      border-radius: 50%;
      font-size: 20px;
      color: $white;
      margin-left: 28px;
    }
  }

  .contents {
    height: auto;
    margin: 0 148px;
    padding-bottom: 50px;

    ul {
      @include flexBetween;
      flex-wrap: wrap;

      li {
        margin-right: 33px;
        margin-bottom: 70px;
      }
    }
  }
}

.up {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: $yellow;
  color: $white;
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  transition: 1s ease;
}
