.background {
  background-image: $mainBg;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 80px;
}
.main-section {
  width: 100%;
  height: 100%;
  @include flexColumn;
  align-items: center;
  padding: 30px 45px;
  &.detail {
    padding: 40px 70px 80px 70px;
  }
}

.title-section {
  display: flex;
  align-items: center;

  .title-wrapper {
    position: relative;
    padding: 10px 0;
    flex-shrink: 0;
    margin: 0 16px;

    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      width: 100%;
      height: 5px;
      background-color: $yellow;
      transform: translate(-50%, 0);
    }
  }

  img {
    width: 88px;
    height: 104px;
  }
}

.content-wrapper {
  width: 70%;
  margin-top: 40px;
  display: flex;
  label {
    @include inputTitleLabel;
    margin-right: 20px;
  }
  input {
    @include Input;
    font-family: $appleM;
    width: 100%;
  }
  textarea {
    @include TextArea;
    height: 100%;
    width: 100%;
  }
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  button {
    @include SubmitBtn;
  }
}

.back-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  .back-btn {
    width: 20px;
    height: 20px;
    border-top: 4px solid #000;
    border-left: 4px solid #000;
    transform: rotate(-45deg);
    content: "";
    background-color: transparent;
    border-color: $yellow;
    border-radius: 2px;
  }
}

.content-section {
  width: 100%;
  height: 100%;
  padding: 15px 50px 15px 100px;
  .content-box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 78px;
    background-color: #ffffff;
    box-shadow: $shadow;
    padding: 20px 70px 35px 110px;
    @include flexColumn;

    .header-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 150px;
      transform: translate(-40%, -20%);
      box-shadow: $light-shadow;
      border-radius: 75px;
    }

    h4 {
      background-color: #fffcf2;
      border-radius: 16px;
      font-size: 20px;
      padding: 8px 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-shrink: 0;
    }
    .content-title {
      font-size: 20px;
      font-family: $appleB;
    }
    .content-writer {
      font-size: 16px;
      color: #3e3e3e;
      padding: 20px;
      border-bottom: 1px solid #f1f1f1;
      label {
        color: $grey;
      }
    }
    .status-wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 14px;
      .status-btn {
        width: 70px;
        &.no {
          @include StatusBtn(false);
        }
        &.yes {
          @include StatusBtn(true);
        }
      }
      label {
        color: #a9a9a9;
        font-size: 12px;
      }
    }
    .content-text {
      width: 100%;
      height: 100%;
      font-family: $appleM;
      font-size: 16px;
      margin-top: 16px;
      overflow-y: auto;
      flex-shrink: 1;
    }
    .end-btn-wrapper {
      margin-top: 10px;
      position: relative;
      width: 100%;
      .no {
        width: 100%;
        @include flexBetween;
      }
      .yes {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #fbfbfb;
        height: 100px;
        border-radius: 20px;
        padding: 10px;
        transition: all 200ms ease;
        &:hover {
          transform: scale(1.02);
        }
        img {
          width: 180px;
          height: 80px;
        }
        .column {
          @include flexColumn;
        }
        .link-title {
          cursor: pointer;
          font-family: $SCore;
          font-size: 16px;
          color: #3e3e3e;
        }
        .link-description {
          cursor: pointer;
          font-size: 16px;
          font-family: $appleM;
          color: #a9a9a9;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2; //라인수 정함
          -webkit-box-orient: vertical;
        }
      }
      span {
        content: "";
      }
      .end-btn {
        padding: 10px 14px;
        font-size: 12px;
        font-family: $SCore;
        color: $grey;
        border-radius: 11px;
        background-color: #f1f1f1;
        transition: 0.3s ease;
        &:hover {
          background-color: darken(#f1f1f1, 10%);
        }
      }
      .end-btn + a {
        margin-left: 20px;
      }
      .notice-img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-150%, -100%);
        opacity: 0;
        transition: all 200ms ease;
      }
    }
  }
}

.confirm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  @include flexCenter;

  .container {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: $light-grey;
    padding: 12px;
    box-shadow: $shadow;
    @include flexColumn;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }
  }
  h2 {
    font-size: 20px;
  }

  .btn-wrapper {
    @include flexCenter;
    width: 100%;
    margin-top: 20px;
    .btn {
      width: 80px;
      height: 30px;
      padding: 8px;
      @include SubmitBtn;
    }
    .btn + .btn {
      margin-left: 20px;
    }
  }
}
