/*loginView CSS*/

.user-background {
  background: url("@/assets/userBg.png");
  height: 100vh;
  @include flexCenter;
  .three-duck {
    img {
      width: 330px;
      height: 125px;
    }
  }
  .user-select {
    width: 330px;
    @include flexBetween;

    .user-btn {
      padding: 5px 0;
      width: 50%;
      background-color: transparent;
      font-size: 16px;
      font-family: $appleM;
      border-bottom: 3px solid $dark-grey;
      :hover {
        border-bottom: 2px solid $dark-grey;
      }
    }
  }
}

/* stuAndVoluLogin CSS*/

.stuAndVolu {
  text-align: center;
  .login-desc {
    font-family: $SCoreL;
    font-weight: bolder;
    margin: 20px 0;
  }
  button {
    @include SubmitBtn;
    height: 40px;
    width: 330px;
    font-size: 16px;

    img {
      margin-right: 10px;
      width: 30px;
      height: 23px;
    }
  }
}

/*ParentLogin CSS*/
