/*loginView CSS*/

.user-background {
  background: url("@/assets/userBg.png");
  height: 100vh;
  @include flexCenter;
  .three-duck {
    img {
      width: 330px;
      height: 125px;
    }
  }
  .user-select {
    width: 330px;
    @include flexBetween;
    text-align: center;
    a {
      color: $grey;
      transition: all 200ms ease;
      &:hover {
        color: $dark-grey;
      }
    }
    .router-link-exact-active {
      border-bottom: 3px solid $dark-grey;
      color: $dark-grey;
    }
    .user-btn {
      padding: 5px 0;
      width: 50%;
      background-color: transparent;
      font-size: 16px;
      font-family: $appleM;
      &:hover {
        border-bottom: 3px solid $dark-grey;
      }
    }
  }
}

/* stuAndVoluLogin CSS*/

.stuAndVolu {
  height: 200px;
  text-align: center;
  .login-desc {
    font-family: $SCoreL;
    font-weight: bolder;
    padding: 30px 0;
  }
  button {
    @include SubmitBtn;
    height: 40px;
    width: 330px;
    font-size: 16px;

    img {
      margin-right: 10px;
      width: 30px;
      height: 23px;
    }
  }
}

/*ParentLogin CSS*/

.parent {
  height: 200px;
  padding: 20px 0;
  .parent-login {
    margin-top: 10px;
    @include flexCenter;
    label {
      background-color: $soft-yellow;
      width: 55px;
      height: 45px;
      @include flexCenter;
      border-radius: 40px 0 0 40px;
      color: $white;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    }
    .parent-input {
      font-size: 16px;
      display: block;
      @include Input;
      border-radius: 0 40px 40px 0;
      background-color: $lightx2-yellow;
      width: 270px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    }
  }
  .login-submit {
    margin-top: 20px;
    @include SubmitBtn;
    height: 45px;
    font-size: 16px;
    width: 325px;
  }
}
