.mypage-background {
  background: url("@/assets/mainBg.png");
  height: 100vh;
  .mypage-container {
    padding: 80px 80px 50px 80px;
    @include flexCenter;
  }
  .profile-info {
    width: 300px;
    margin-right: 80px;
    .left-box {
      width: 100%;
      height: 295px;
      border-radius: 40px;
      box-shadow: $light-shadow;
    }
    .parent-profile {
      @include flexCenter;
      align-items: flex-start;
      .bookmark-area {
        padding: 10px 0;
        .children-bookmark {
          cursor: pointer;
          width: 25px;
          @include flexCenter;
          flex-wrap: wrap;
          border-radius: 0 10px 10px 0;
          padding: 15px 7px;
          margin: 25px 0;
          font-size: 10px;
          line-height: 10px;
          font-weight: bold;
          font-family: $appleM;
          position: relative;
          background-color: $light-grey;

          img {
            position: absolute;
            width: 30px;
            height: 30px;
            top: -20px;
          }
        }
      }

      .children-bookmark.active {
        background-color: #ffefd3;
      }
    }
    .profile {
      position: relative;
      background-color: white;
      margin-bottom: 25px;
      @include flexCenter;
      flex-direction: column;
      .profile-ellipse {
        position: absolute;
        right: 25px;
        top: 25px;
        color: $grey;
        &:hover > ul {
          display: block;
        }
        &:target ul {
          display: block;
        }
      }
      ul {
        position: absolute;
        width: 120px;
        border-radius: 12px;
        padding: 8px 10px;
        background-color: $white;
        @include flexColumn;
        display: none;
        box-shadow: $light-shadow;
        li {
          padding: 6px 0;
          font-family: $appleM;
          font-size: 13px;
          @include flexCenter;
          &:first-child {
            border-bottom: 1px solid $light-grey;
          }
          &:last-child {
            color: $pink;
          }
        }
        &:target {
          display: block;
        }
      }
      img {
        width: 100px;
        height: 100px;
        filter: $drop-shadow;
      }
      .person-info {
        display: flex;
        justify-content: center;
        label {
          @include inputTitleLabel;
          width: 60px;
        }
        .label-value {
          margin-left: 25px;
          width: 130px;

          .children-name {
            display: block;
            background-color: transparent;
            font-family: $appleM;
            font-size: 16px;
            line-height: 30px;
            height: 30px;
            &::after {
              content: "";
              border-bottom: 3px solid $grey;
              width: 100%;
              display: none;
            }
            &:hover {
              border-bottom: 2px solid $grey;
            }
          }
        }
        .volunteer-value {
          width: 170px;
        }
        .introduce {
          padding: 10px;
          width: 170px;
          border-radius: 20px;
          background-color: $lightx2-yellow;
          height: 80px;
        }
        margin-top: 25px;
      }
    }
    .calendar {
      background-color: #fff5e5;
      padding: 30px 20px;
      @include flexColumn;
      text-align: center;
    }
  }
  // .lecture-info {
  //   .right-box {
  //     width: 900px;
  //     height: 295px;
  //     background-color: white;
  //     border-radius: 40px;
  //     box-shadow: $light-shadow;
  //     overflow: hidden;
  //     &:nth-child(1) {
  //       margin-bottom: 25px;
  //     }
  //   }
  //   .lecture-content {
  //     padding: 35px;
  //     position: relative;
  //     .slide {
  //       position: absolute;
  //       top: 30px;
  //       right: 30px;
  //       color: $grey;
  //       font-size: 20px;
  //     }
  //     .box-title {
  //       display: inline-block;
  //       border-bottom: 5px solid $yellow;
  //     }
  //     .title-desc {
  //       font-size: 12px;
  //       color: $grey;
  //       margin-left: 20px;
  //     }
  //     .lecture-list {
  //       margin-top: 20px;
  //       overflow-y: scroll;
  //       height: 180px;
  //       display: flex;
  //       flex-direction: row;
  //       justify-content: flex-start;
  //       flex-wrap: wrap;
  //       .lecture {
  //         margin: 15px;
  //         .round-post-card {
  //           position: relative;
  //           width: 240px;
  //           height: 140px;
  //           border-radius: 20px;
  //           background-color: $light-grey;
  //           cursor: pointer;
  //           @include flexCenter;
  //           .feedback-btn {
  //             @include SubmitBtn;
  //             position: absolute;
  //             font-family: $SCore;
  //             width: 130px;
  //             transform: translate(0, 20px);
  //             opacity: 0;
  //           }
  //           .go-detail {
  //             position: absolute;
  //             color: $white;
  //             font-size: 14px;
  //             transition: all 200ms ease;
  //             transform: translate(0, 30px);
  //             opacity: 0;
  //           }
  //         }
  //         .end-lecture {
  //           transition: all 300ms ease;
  //           div {
  //             width: 100%;
  //             position: absolute;
  //             height: 100%;
  //             top: 0;
  //             left: 0;
  //             content: "";
  //             background-color: $light-grey;
  //             border-radius: 20px;
  //           }
  //           &:hover > div {
  //             filter: brightness(90%);
  //           }
  //           &:hover > .feedback-btn {
  //             transform: translate(0, 0);
  //             opacity: 100%;
  //           }
  //           &:hover > .go-detail {
  //             transform: translate(0, 0);
  //             opacity: 100%;
  //           }
  //         }
  //         .lecture-title {
  //           width: 240px;
  //           white-space: nowrap;
  //           overflow: hidden;
  //           text-overflow: ellipsis;
  //           font-size: 14px;
  //           margin-top: 10px;
  //         }
  //       }
  //     }
  //   }
  // }

  .lecture-container {
    background-color: white;
    width: 100%;
    height: 620px;
    box-shadow: $light-shadow;
    border-radius: 40px;
    padding: 30px;
    .lecture-nav {
      width: 100%;
      height: 35px;
      font-size: 14px;
      border-bottom: 1px solid $light-grey;
      display: flex;
      flex-direction: row;
      .nav-item {
        margin-left: 10px;
      }
      .active {
        font-weight: bold;
        border-bottom: 1.5px solid $grey;
      }
    }
    .lecture-area {
      width: 100%;
      height: 100%;
      padding: 20px 75px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .lecture-box {
        width: 230px;
        margin: 10px 15px;
        height: 210px;
        .lecture-thumb {
          width: 100%;
          height: 130px;
          background-color: $light-grey;
          border-radius: 20px 20px 0 0;
          box-shadow: $light-shadow;
          position: relative;
          .state-btn {
            position: absolute;
            top: 10px;
            right: 13px;
            @include StatusBtn(true);
            width: 60px;
            font-size: 10px;
            padding: 3px;
            height: 25px;
            font-family: $appleB;
            i {
              font-size: 6px;
            }
          }
          .end-btn {
            position: absolute;
            top: 10px;
            right: 13px;
            font-size: 10px;
            font-family: $appleB;
            padding: 4px;
            border-radius: 5px;
            color: $white;
            background-color: $grey;
            i {
              font-size: 6px;
            }
          }
        }

        .lecture-info {
          background-color: #fefefe;
          width: 100%;
          box-shadow: $light-shadow;
          height: 80px;
          border-radius: 0 0 20px 20px;
          padding: 10px 15px;
          position: relative;
          .teacher-photo {
            img {
              width: 42px;
              height: 42px;
            }
            position: absolute;
            top: -20px;
            right: 15px;
          }
          .lecture-teacher {
            font-size: 12px;
          }
          .lecture-date {
            position: absolute;
            bottom: 7px;
            font-size: 10px;
            font-weight: bold;
            color: #a6a6a6;
            left: 15px;
          }
          .lecture-cancel {
            position: absolute;
            right: 15px;
            bottom: 7px;
            font-family: $appleM;
            background-color: $soft-pink;
            width: 32px;
            height: 17px;
            font-size: 12px;
            border-radius: 5px;
          }
        }
        .lecture-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
